body {
	background-color: white;

}
h1 {
	color:red;
	font-size: 400%;
}

#pad {
	//background-color: blue;
	height : 300px;
	width : 100%;
}

#search {
	//background-color: grey;
	text-align: center;

}
